@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* share style start */

.width {
  max-width: 1140px;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: 48px;
}

section {
  margin: 120px auto;
}

.nav_bar {
  justify-content: space-between;
  align-items: center;
}

.nav_bar span {
  margin-left: 10px;
}

.menu_item {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 700;
  color: #252432;
}

.banner_title {
  font-family: "Noto Serif";
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
}

.title {
  font-family: "Noto Serif";
  font-size: 3.12rem;
  font-weight: 700;
  color: #000000;
}

.title span {
  color: #E95A08;
}

.paragraph {
  font-family: "Inter";
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.cart_title {
  font-family: "Inter";
  font-size: 1.37rem;
  font-weight: 500;
  color: rgb(17, 17, 17);
}

.cart_price {
  font-family: "Inter";
  font-size: 1.37rem;
  font-weight: 700;
}

.cart_btn {
  background-color: #E95A08;
  font-family: "Inter";
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  width: 100%;
  padding: 15px 50px 15px 50px;
  border: none;
}

/* share style end */


/* header style start */
.nav_conatainer {
  margin: 30px auto;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  cursor: pointer;
}

.mobile_nav {
  align-items: center;
  justify-content: space-between;
}

.mobile {
  display: none;
}

/* banner style start */
.banner {
  align-items: center;
}

.banner_title span {
  color: #E95A08;
}

.banner_left {
  width: 50%;
}

.banner_right {
  width: 50%;
}

.banner_right img {
  width: 100%;
}

/* plan style start */

.plan_content {
  text-align: center;
}

/* flower style start */

.flowar_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 20px;
}

.flowar_content * {
  margin-bottom: 20px;
}

.flowar_content img {
  width: 100%;
}


/* plants lover style start */
.plants_lover {
  margin-top: 210px;
}

.plan_short {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 16px;
}

.paragraph li {
  list-style: disc;
}

.plant_left img {
  width: 100%;
}

.reword_img {
  position: absolute;
}

.reword_img img {
  width: 30%;
  margin-left: 280px;
  margin-top: -200px;
}

.plant_left {
  width: 50%;
}

.plant_right {
  margin-top: 40px;
}

.plant_right * {
  margin-bottom: 20px;
}

.plant_right {
  width: 50%;
}

.plant_right ul li {
  font-size: 1.37rem;
}


/* latest deal start */
.latest_deal {
  text-align: center;
}

/* deal images start */
.deal_image {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.image_left {
  width: 40%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 5/2);
}

.image_1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/deal-bloom.png);
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  align-content: center;
}

.image_1 h1 {
  font-size: 1.25rem;
  color: #fff;
}

.image_1 button {
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.image_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/deal-ana.png);
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  align-content: center;
}

.image_2 h1 {
  font-size: 1.25rem;
  color: #fff;
}

.image_2 button {
  font-family: "Inter";
  border: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.image_3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/deal-zabo.png);
  height: 500px;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  align-content: center;
}

.image_3 h1 {
  font-size: 2.5rem;
  font-weight: 00;
  color: #fff;
}

.image_3 button {
  font-family: "Inter";
  font-size: 1.75rem;
  font-weight: 600;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  align-content: center;
}

.newsletter_container {
  text-align: center;
  align-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/news-letter-bg.png);
  height: 533px;
  align-content: center;
}

.logo_card .news_text {
  max-width: 359px;
  font-family: "Inter";
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.37rem;
  margin-top: 5px;
}

.join_now * {
  margin-bottom: 23px;
}

.news_box {
  display: flex;
  width: 900px;
  margin: 0 auto;
}

.join_now h1 {
  font-family: "Noto Serif";
  font-size: 3.12rem;
  font-weight: 700;
  color: #fff;
}

.form_text {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font: "Inter";
  font-weight: 400;
  width: 80%;
}

.form_btn {
  padding: 15px;
  background-color: #E95A08;
  border: #E95A08;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  width: 20%;
}

/* newsletter style css */
.footer_card {
  justify-content: space-between;
}

.menu_card ul li a {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.menu_card ul li {
  margin-bottom: 20px;
}

.feature_card ul li a {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.feature_card ul li {
  margin-bottom: 20px;
}

/* newsletter style end */

@media screen and (max-width: 576px) {
  .nav_conatainer {
    display: none;
  }

  .mobile {
    display: block;
    align-items: center;
    align-content: center;
    margin: 0px 16px;
  }

  .menu_item span {
    margin-left: 10px;
  }

  .banner {
    flex-direction: column-reverse;
    margin: 0px 16px;
  }

  .banner_title {
    font-family: "Noto Serif";
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
  }

  .banner_title span {
    color: #E95A08;
  }

  .flowar_content {
    grid-template-columns: 1fr 1fr;
    margin: 0px 16px;
  }

  .plant_right h1 {
    font-size: 1.5rem;
  }

  .plant_right ul li {
    list-style: disc;
    margin-left: 30px;
    font-size: 1rem;
  }

  .banner_left {
    width: 100%;
  }

  .banner_right {
    width: 100%;
  }

  .plant_left {
    width: 100%;
  }

  .plant_right {
    width: 100%;
  }

  .plant_left img {
    width: 100%;
  }

  .plant_content {
    flex-direction: column;
    margin: 0px 16px;
  }

  .plant_content h1 {
    font-size: 1.5rem;
  }

  .plan_short {
    font-size: 1rem;
    max-width: 536px;
    margin: 0 auto;
  }

  .reword_img {
    display: none;
  }

  .deal_image {
    flex-direction: column;
    width: 100%;
    margin: 0px 16px;
  }

  .deal_images {
    margin: 0px 16px;
  }

  .image_left {
    width: 100%;
  }

  .image_3 {
    width: 100%;
  }

  .news_box {
    width: 80%;
  }

  .join_now h1 {
    font-family: "Noto Serif";
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
  }

  .footer_card {
    flex-direction: column;
  }
}



/* midium device */

@media screen and (min-width: 576px) and (max-width: 992px) {}